<footer>
  <small>
    <%= link_to 'Contact List. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', root_url %>
      </li>
      <li>
        <%= link_to 'Contato', root_url %>
      </li>
    </ul>
  </nav>
</footer>
